<div class="row">
    <script>
        function alterarConsumidor() {
            nome  = document.getElementById("nome").value;
            email = document.getElementById("email").value;
            senha = document.getElementById("senha").value;

            $.post({
                type: "POST",
                url: "/consumidor/alterar",
                data: JSON.stringify({
                    nome:  nome,
                    email: email,
                    senha: senha
                }), // or JSON.stringify ({name: 'jonas'}),
                success: function (data) {
                    if (data.status == "success") {
                        window.alert("Usuario Alterado");
                        window.location.href = "/";
                    } else {
                        window.alert(data.message);
                    }
                },
                contentType: "application/json",
                dataType: "json",
            });
        }
    </script>
    <div class="col-md-6">
        <div class="form-group">
            <h1>Alterar</h1>
            <form action="javascript:alterarConsumidor()" method="post" id="form_cadastro">
                <label for="nome">Nome</label>
                <input
                    type="text"
                    class="form-control"
                    id="nome"
                    name="nome"
                    placeholder="Nome"
                    value="{$nome}"
                />
                <br />
                <label for="email">Email</label>
                <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Email"
                    value="{$email}"
                />
                <br />
                <label for="senha">Senha</label>
                <input
                    type="password"
                    required
                    class="form-control"
                    id="senha"
                    name="senha"
                    placeholder="Senha"
                />
                <br>
                <button type="submit" class="btn btn-primary">Alterar</button>
            </form>
        </div>
    </div>
</div>
