<div class="row">
    <script>
        function cadastrarConsumidor() {
            $.post({
                type: "POST",
                url: "/consumidor/cadastro",
                data: JSON.stringify({
                    nome:  nome,
                    email: email,
                    senha: senha
                }), // or JSON.stringify ({name: 'jonas'}),
                success: function (data) {
                    console.log(data);
                    if (data.status == "success") {
                        window.alert("Usuario Cadastrado");
                        window.location.href = "/";
                    } else {
                        window.alert(data.message);
                    }
                },
                contentType: "application/json",
                dataType: "json",
            });
        }
    </script>
    <div class="col-md-6">
        <div class="form-group">
            <form action="javascript:cadastrarConsumidor()" method="post" id="form_cadastro">
                <label for="nome">Nome</label>
                <input
                    type="text"
                    class="form-control"
                    id="nome"
                    name="nome"
                    placeholder="Nome"
                />
                <br />
                <label for="email">Email</label>
                <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Email"
                />
                <br />
                <label for="senha">Senha</label>
                <input
                    type="text"
                    class="form-control"
                    id="senha"
                    name="senha"
                    placeholder="Senha"
                />
                <br>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
