<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{$res_path}imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{$res_path}style.css">
    <script src="{$res_path}jquery-3.6.0.js"></script>
    <title> {$site_titulo} | Fortuna Shop</title>
</head>
<body>
    <header class="header">
        <img src="{$res_path}imagens/Logo-fortuna.svg" alt="Logo Fortuna Shop">
         <nav class="menu">
             <ul>
                 <li><a href="/">Inicial</a></li>
                 <li><a href="/sobre">Sobre</a></li>
                 <li><a href="/produtos">Produtos</a></li>
                 <li><a href="/contato">Contato</a></li>
                 {if="$consumidor_logado"}
                    <li><a href="/consumidor/alterar">Meus Dados</a></li>
                    <li><a href="/consumidor/logout">Logout</a></li>
                 {else}
                    <li><a href="/consumidor/login">Login</a></li>
                 {/if}
             </ul>
         </nav>
     </header>