<div class="banner">
    <a href="produtos.html" target="_self">
        <img src="./../res/imagens/banner-home.png" alt="banner da página inicial">
    </a>
</div>

<div class="home-row">
    <div class="coluna1">
        <div class="texto">
            <h2>Título coluna 1</h2>
            <p>Lorem ipsum dolor</p>
        </div>
        <div>
            <img class="imagem" src="./../res/imagens/teste.png" alt="nada">
        </div>
    </div>
    <div class="coluna2">
        <div class="texto">
            <h2>Título coluna 2</h2>
            <p>Lorem ipsum dolor</p>
        </div>
        <div class="imagem">
            <img class="imagem" src="./../res/imagens/teste.png" alt="nada">
        </div>
    </div>
</div>

<div class="row-imagens">
    <div>
        <a href="/sobre" target="_self">
            <img src="./../res/imagens/sobre.png" alt="">
        </a>
    </div>
    <div>
        <a href="/produtos" target="_self">
            <img src="./../res/imagens/produtos.png" alt="">
        </a>
    </div>
    <div>
        <a href="/contato" target="_self">
            <img src="./../res/imagens/contato.png" alt="">
        </a>
    </div>
</div>