<div class="row">
    <script>
        function requestLogin() {
            email = document.getElementById("email").value;
            senha = document.getElementById("senha").value;

            $alert = null;
            if (!email) {
                $alert = "email inválido!";
            }

            if (!senha) {
                $alert = "senha inválida!";
            }

            if ($alert) {
                window.alert($alert);
            }

            $.post({
                type: "POST",
                url: "/consumidor/login",
                data: JSON.stringify({
                    email: email,
                    senha: senha
                }), // or JSON.stringify ({name: 'jonas'}),
                success: function (data) {
                    if (data.status == "success") {
                        window.location.href = "/";
                    } else {
                        window.alert(data.message);
                    }
                },
                contentType: "application/json",
                dataType: "json",
            });
        }
    </script>
        <div class="conteiner-login">
            <div class="card-login">
                <form action="javascript:requestLogin()" method="post" id="login">
                    <h1>Realize o Login</h1>
                    <div class="textfield">
                        <label for="email">Email:</label>
                        <input
                            type="email"
                            required
                            class="form-control"
                            id="email"
                            name="email"
                            placeholder="Email"
                        />
                    </div>
                    <div class="textfield">
                        <label for="senha">Senha:</label>
                        <input
                            type="password"
                            required
                            class="form-control"
                            id="senha"
                            name="senha"
                            placeholder="Senha"
                        />
                    </div>
                    <button class="btn-login" type="submit">Login</button>
                </form>        
                <a href="/consumidor/cadastro">Cadastre-se aqui</a>
            </div>
        </div>
</div>
