<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="./../res/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./../res/style.css">
    <title>Produtos | Fortuna Shop</title>
</head>
<body>
    <header class="header">
        <img src="./../res/imagens/Logo-fortuna.svg" alt="Logo Fortuna Shop">
         <nav class="menu">
             <ul>
                 <li><a href="index.html">Inicial</a></li>
                 <li><a href="sobre.html">Sobre</a></li>
                 <li><a href="produtos.html">Produtos</a></li>
                 <li><a href="contato.html">Contato</a></li>
             </ul>
         </nav>
     </header>



    <footer class="footer">
        <div class="grupo">
            <p>Desenvolvido por <strong>GREEN SCRIPT</strong></p>
        </div>
    </footer>
</body>
</html>