{loop="$produtos"}
<div class="row-product">
    <div class="conteiner-product">
            <div class="col-img">
              <img src="{$value.imagem}" style="width:100%; max-width: 100%;" alt="imagem do produto">
            </div>
            <div class="col-description">
              <p class="descricao-produto">{$value.descricao}</p>
              <p class="valor-produto">R$ {$value.valor}</p>
            </div>
        <!--
        <ul class="dados">
            {loop="$produtos"}
            <li>ID {$value.id}</li>
            <li>Desc {$value.descricao}</li>
            <li>Valor {$value.valor}</li>
            {/loop}
        </ul>
        -->
    </div>
</div>
{/loop}