<div>
<div class="row-sobre">
    <div class="coluna-sobre1">
        <h2>Sobre Nós</h2>
            <div class="texto-sobre">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sed impedit nemo quam harum aspernatur dolore reprehenderit consequatur iusto fugiat tempora, animi molestiae ex maiores laudantium enim amet! Fuga, dicta lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque soluta beatae quos quas laudantium accusamus itaque est repudiandae quisquam nam consequatur facere illum iste, pariatur libero rem alias, atque voluptatum.</p>
            </div>
    </div>
    <div>
        <img id="imgsobre" src="./../res/imagens/img-sobre.png" alt="Sobre nós">
    </div>
</div>
</div>